<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>${artifactId}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<h:outputStylesheet name="css/screen.css" />
</h:head>
<h:body>
	<h:outputStylesheet name="css/primefacesoverride.css" />
	<div id="container">
		<div id="header">
			<img src="resources/gfx/wildfly-banner-1180px.png" id="headbanner" />
		</div>
		<div id="content">
			<ui:insert name="content">
                    [Template content will be inserted here]
         </ui:insert>
		</div>
		<div id="aside">
			<p>Referensprojekt som visar push till webbläsare.</p>
			<p>Starta två webbläsare, boka plats i den ena och titta vad som
				händer i den andra.</p>
		</div>
		<div id="footer">
			<p>
				Projektet använder JSF med PrimeFaces.<br />
			</p>
		</div>
	</div>
       <script type="text/javascript" src="transactiondemo.js"/>
</h:body>
</html>
