<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="seatBookingForm" styleClass="basicform">
		<p:growl widgetVar="growlPush" />
		 
		<p:panelGrid columns="2">
			<p:panel>
				<p:panelGrid columns="2">
					<h:outputText value="E-post" />
					<p:inputText id ="email" value="#{bookingController.email}" required="true"
						valueChangeListener="#{bookingController.onEmailChanged}">
						<p:ajax event="change"
							update="email, firstName, lastName, telephone, bookingTable" />
					</p:inputText>

					<h:outputText value="Förnamn" />
					<p:inputText id="firstName" value="#{bookingController.firstName}" required="true" >
						<p:ajax event="change" update="bookingTable"/>
					</p:inputText>

					<h:outputText value="Efternamn" />
					<p:inputText id="lastName" value="#{bookingController.lastName}" required="true" >
						<p:ajax event="change" update="bookingTable"/>
					</p:inputText>

					<h:outputText value="Telefon" />
					<p:inputText id="telephone" value="#{bookingController.telephoneNumber}" required="false" >
						<p:ajax event="change" />
					</p:inputText>

				</p:panelGrid>
			</p:panel>
			<p:panel>
				<p:dataTable id="bookingTable" var="seatSelects" scrollable="true"
					scrollHeight="393" value="#{bookingController.seatSelects}">
					<p:column headerText="Platsnummer" class="centeredColumn">
						<h:outputText value="#{seatSelects.seat.seatNumber}" />
					</p:column>
					<p:column headerText="Boka" class="centeredColumn">
						<p:selectBooleanButton class="booleanButton" onLabel="ja"
							offLabel="nej" value="#{seatSelects.selected}"
							disabled="#{seatSelects.seat.booked || !bookingController.customerEntered}"
							valueChangeListener="#{bookingController.onSelectionChanged}">
							<p:ajax event="change" update="bookingTable" />
						</p:selectBooleanButton>
					</p:column>
				</p:dataTable>
			</p:panel>
			<f:facet name="footer">
				<p:commandButton value="Bekräfta" icon="ui-icon-check" ajax="false" actionListener="#{bookingController.confirmBookings}" />
				<p:messages id="bookingMessage" showDetail="true" autoUpdate="true" closable="true" />
			</f:facet>
		</p:panelGrid>
		
		<p:ajaxExceptionHandler type="javax.faces.application.ViewExpiredException" onexception="handleSessionExpired();" />
	</h:form>
	

	<p:socket onMessage="handleMessage" channel="/seatList">  
		<p:ajax event="message"
			listener="#{bookingController.updateSeatsFromDb}"
			update="seatBookingForm:bookingTable" />
	</p:socket>

</ui:composition>