<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui" >

	<h:form id="chatForm" styleClass="basicform">
		<h:panelGrid columns="1" styleClass="settingGrid">
			<p:inputTextarea id = "textOutput" widgetVar="textOutput" rows="10" cols="50" />
			<p:inputText id = "textInput" widgetVar ="textInput" value="#{chatController.textInput}" styleClass="chattInput">
				<p:ajax event="change" update="textInput" />
			</p:inputText>
			<p:commandButton value="Sänd" ajax="true"
				actionListener="#{chatController.sendMessageToClient}" />
		</h:panelGrid>
	</h:form>

	<p:socket channel="/chat" onMessage="handleChat" />


</ui:composition>