<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/default.xhtml">
	<ui:define name="content">

		<p:panelGrid columns="2">
			<h:outputText value="Din pågående bokning har gått ut" />
			<p:button value="Börja om"  outcome="index"/> 
		</p:panelGrid>


	</ui:define>
</ui:composition>
