<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="settingForm" styleClass="basicform">
		<h:panelGrid columns="2" styleClass="settingGrid">
			<p:outputLabel for="strategy" value="Strategi:" />
			<p:selectOneRadio id="strategy" value="#{settingController.strategy}" layout="grid" columns="2">
				<f:selectItem itemLabel="Optimistic" itemValue="optimistic" />
				<f:selectItem itemLabel="Pessimistic" itemValue="pessimistic" />
				<p:ajax />
			</p:selectOneRadio>
			<p:outputLabel for="disablePush" value="Disable push:" />
			<p:selectBooleanCheckbox id="disablePush" value="#{settingController.pushDisabled}" styleClass="settingCheckbox">
				<p:ajax />
			</p:selectBooleanCheckbox>
		</h:panelGrid>
	</h:form>
</ui:composition>